* {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
    font-weight:  500; 
    margin:  0; 
}

h4 {
    font-size:  24px; 
    font-weight:  600; 
    color:  #000; 
    opacity:  .85; 
}

label {
    font-size:  12.5px; 
    color:  #000;
    opacity:  .8;
    font-weight:  400; 
}

form {
    padding:  40px 30px; 
    background:  #fefefe; 
    display:  flex; 
    flex-direction:  column;
    align-items:  center; 
    padding-bottom:  20px; 
    width: 50vw; 
    h1 {
        margin-bottom:  10px;
        font-weight: bold;
        color:  rgba(#000, .5);
        span {
            color:  rgba(#000, 1);
            font-weight:  700; 
        }
    } 
    p {
        line-height:  155%;
        font-size:  14px; 
        color:  #000; 
        opacity:  .65;
        font-weight:  400; 
        margin-bottom:  40px; 
    }
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

button {
    min-width:  100px;
    border-radius:  6px; 
    width: 100%; /* Menetapkan lebar tombol agar mengisi parentnya */
    margin: 0; /* Menetapkan margin atas dan bawah */
    padding: 0.5em 1em; /* Menetapkan padding untuk ruang di dalam tombol */
    font-size: 1em;
    text-align:  center; 
    padding:  15px 40px;
    margin-bottom: 10px;
    background-color:  #6374db; 
    color:  #ffff; 
    font-size:  14px;
    margin-left:  auto; 
    font-weight:  500; 
    box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
    border:  none;
    transition:  all .3s ease; 
    outline: 0; 
    /* &:hover {
        transform:  translateY(-3px);
        box-shadow:  0 2px 6px -1px rgba($primary, .65);
        &:active {
            transform:  scale(.99);
        }
    } */
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#keterangan-form {
    width: 50%;
}

.input-group-ruas {
    width: 50%;
    height: fit-content;
    margin-right: 45px;
}

.input-group-ruas #nama-ruas {
    margin-bottom: 27px;
}

.input-group-ruas #kode-ruas {
    margin-bottom: 27px;
}

.input-group {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.form-ruas {
    height: fit-content;
    display: flex;
}

#register {
    margin-bottom: 20px;
    background-color: #f3f2f2;
    color: #004e8e;
}

#edit-info {
    margin-bottom: 20px;
    background-color: #f3f2f2;
    color: #004e8e;
}


#hr {
    margin-bottom: 30px;
}

$displacement:  3px; 
@keyframes shake-shake {
    0% { transform: translateX(-$displacement);}
    20% { transform: translateX($displacement); }
    40% { transform: translateX(-$displacement);}
    60% { transform: translateX($displacement);}  
    80% { transform: translateX(-$displacement);}
    100% { transform: translateX(0px);}
}

.session {
    display: flex; /* Menggunakan flexbox */
    flex-direction: row; /* Arahkan item secara horizontal */
    width: 50%; /* Lebar div disesuaikan dengan konten */
    height: auto; /* Tinggi div disesuaikan dengan konten */
    margin: auto; /* Marginkan div secara otomatis di tengah layar */
    background: #ffffff; /* Warna latar belakang */
    border-radius: 6px; /* Border radius */
    box-shadow: 0px 2px 6px -1px rgba(0,0,0,.12); /* Efek bayangan */
    justify-content: center; /* Posisikan item secara horizontal di tengah */
}

center {
    width: 100%;
}

.left {
    width:  25vw; 
    height:  auto; 
    min-height:  100%; 
    position:  relative; 
    background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:  cover;
    border-top-left-radius:  6px; 
    border-bottom-left-radius:  6px; 
    svg {
        height:  40px; 
        width:  auto; 
        margin:  20px; 
    }
}

#map {
    width: 100%;
    height: 100%; /* Adjust height for header and additional div */
    position: absolute;
    top: 100dp;
    left: 0;
    z-index: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: large;
    color: #000;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
    z-index: 9999;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-item {
    border:none;
    position: relative;
}

.nav-item :hover{
    border: none;
}

.nav-item ::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom: -5px;
    background-color: rgb(0, 0, 0);
    transition: all ease-in-out .2s;
}

.nav-item :hover::after{
    width: 100%;
    left: 0;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #000;
}

#nav-a {
    color: #000;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -200%;
        z-index: 9999;
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
        z-index: 9999;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        z-index: 9999;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        z-index: 9999;
    }
    
    .nav-menu.active {
        left: 0;
        z-index: 9999;
    }

    .nav-item {
        margin: 2.5rem 0;
        z-index: 9999;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 9999;
    }
}

.overlay-input {
    border-radius: 10px;
    display: none;
    position: absolute;
    width: 50%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px; /* Sesuaikan padding sesuai kebutuhan */
}

#wilayah-data {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#jalan-data {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#keterangan-singkat {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#kabupaten-div {
    width: 33%;
    margin-right: 30px;
}

#kecamatan-div {
    width: 33%;
    margin-right: 30px;
}

#desa-div {
    width: 34%;
}

#perkerasan-div {
    width: 33%;
    margin-right: 30px;
}

#jalan-div {
    width: 33%;
    margin-right: 30px;
}

#kondisi-div {
    width: 34%;
}

#nama-div {
    width: 33%;
    margin-right: 30px;
}

#lebar-div {
    width: 33%;
    margin-right: 30px;
}

#panjang-div {
    width: 34%;
}

#overlay-parent {
    width: 40%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

#overlay-data {
    display: none;
    width: 40%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    position: absolute; /* Gunakan posisi absolut */
    top: 15%;
    bottom: 0%; /* Sesuaikan dengan posisi yang diinginkan */
    right: 5%; /* Sesuaikan dengan posisi yang diinginkan */
    z-index: 1000; /* Tetapkan nilai z-index yang tinggi */
    background-color: rgba(255, 255, 255, 0.9); /* Tambahkan latar belakang semi-transparan */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notifikasi-load {
    background-color: #fff;
    border-radius: 10px;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 30px;
}

/* Container for the filters */
.condition-filters {
    display: flex;
    flex-direction: row;
    gap: 15px; /* Add space between each label */
    margin: 20px 0; /* Add some margin at the top and bottom */
}

/* Style for each label */
.condition-filters label {
    display: flex;
    align-items: center; /* Center the checkbox and text vertically */
    font-family: Arial, sans-serif; /* Use a clean, readable font */
    font-size: 14px; /* Adjust the font size */
}

/* Style for each checkbox */
.condition-filters input[type="checkbox"] {
    margin-right: 5px; /* Space between checkbox and text */
    cursor: pointer; /* Pointer cursor on hover */
}


.notifikasi {
    background-color: #fff;
    border-radius: 10px;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 300px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 30px;
}

#icon_notif {
    width: 20%;
    height: 20%;
}

#text-p {
    margin-top: 10px;
    margin-bottom: 30px;
}

#center-keterangan {
    width: 100%;
    height: fit-content;
}

#text-data {
    display: flex;
    flex-direction: column;
}

.dropbtnkabupaten {
    background-color: #6374db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 40px; /* Menambahkan jarak antara tombol */
    margin-bottom: 25px;
}
  
.dropbtnkabupaten:hover, .dropbtnkabupaten:focus {
    background-color: #6374db;
}

#myInputKabupaten {
    box-sizing: border-box;
    background-image: url('icon/search.png');
    background-size: 20px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInputKabupaten:focus {outline: 3px solid #ddd;}

.dropdown-content-kabupaten {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%; /* Menentukan posisi awal konten dropdown, di bawah tombol */
    left: 0; /* Menentukan posisi awal konten dropdown, di sebelah kiri tombol */
}

.dropdown-content-kabupaten a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownKabupaten {
    width:  34%;
    position: relative;
    display: flex;
}

.dropdown-content-kabupaten {
    max-height: 200px; /* Atur maksimum tinggi dropdown */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi maksimum */
}

.dropbtnkecamatan {
    background-color: #6374db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 40px; /* Menambahkan jarak antara tombol */
    margin-bottom: 25px;
}
  
.dropbtnkecamatan:hover, .dropbtnkecamatan:focus {
    background-color: #6374db;
}

#myInputKecamatan {
    box-sizing: border-box;
    background-image: url('icon/search.png');
    background-size: 20px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInputKecamatan:focus {outline: 3px solid #ddd;}

.dropdown-content-kecamatan {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%; /* Menentukan posisi awal konten dropdown, di bawah tombol */
    left: 0; /* Menentukan posisi awal konten dropdown, di sebelah kiri tombol */
}

.dropdown-content-kecamatan a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-kecamatan {
    max-height: 200px; /* Atur maksimum tinggi dropdown */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi maksimum */
}

.dropdownKecamatan {
    width:  33%;
    position: relative;
    display: flex;
}


.dropbtndesa {
    background-color: #6374db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    margin-bottom: 25px;
}
  
.dropbtndesa:hover, .dropbtndesa:focus {
    background-color: #6374db;
}

#myInputDesa {
    box-sizing: border-box;
    background-image: url('icon/search.png');
    background-size: 20px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInputDesa:focus {outline: 3px solid #ddd;}

.dropdown-content-desa {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%; /* Menentukan posisi awal konten dropdown, di bawah tombol */
    left: 0; /* Menentukan posisi awal konten dropdown, di sebelah kiri tombol */
}

.dropdown-content-desa a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-desa {
    max-height: 200px; /* Atur maksimum tinggi dropdown */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi maksimum */
}

.dropdownDesa {
    width:  33%;
    position: relative;
    display: flex;
}

.dropbtnperkerasan {
    background-color: #6374db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 40px; /* Menambahkan jarak antara tombol */
}
  
.dropbtnperkerasan:hover, .dropbtnperkerasan:focus {
    background-color: #6374db;
}

#myInputPerkerasan {
    box-sizing: border-box;
    background-image: url('icon/search.png');
    background-size: 20px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInputPerkerasan:focus {outline: 3px solid #ddd;}

.dropdown-content-perkerasan {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%; /* Menentukan posisi awal konten dropdown, di bawah tombol */
    left: 0; /* Menentukan posisi awal konten dropdown, di sebelah kiri tombol */
}

.dropdown-content-perkerasan a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-perkerasan {
    max-height: 200px; /* Atur maksimum tinggi dropdown */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi maksimum */
}

.dropdownPerkerasan {
    width: 34%;
    position: relative;
    display: flex;
}

.dropbtnjenis {
    background-color: #6374db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 40px; /* Menambahkan jarak antara tombol */
}
  
.dropbtnjenis:hover, .dropbtnjenis:focus {
    background-color: #6374db;
}

#myInputJenis {
    box-sizing: border-box;
    background-image: url('icon/search.png');
    background-size: 20px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInputJenis:focus {outline: 3px solid #ddd;}

.dropdown-content-jenis {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%; /* Menentukan posisi awal konten dropdown, di bawah tombol */
    left: 0; /* Menentukan posisi awal konten dropdown, di sebelah kiri tombol */
}

.dropdown-content-jenis a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-jenis {
    max-height: 200px; /* Atur maksimum tinggi dropdown */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi maksimum */
}

.dropdownJenis {
    width: 33%;
    position: relative;
    display: flex;
}

.dropbtnkondisi {
    background-color: #6374db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}
  
.dropbtnkondisi:hover, .dropbtnkondisi:focus {
    background-color: #6374db;
}

#myInputKondisi {
    box-sizing: border-box;
    background-image: url('icon/search.png');
    background-size: 20px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInputKondisi:focus {outline: 3px solid #ddd;}

.dropdown-content-kondisi {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%; /* Menentukan posisi awal konten dropdown, di bawah tombol */
    left: 0; /* Menentukan posisi awal konten dropdown, di sebelah kiri tombol */
}

.dropdown-content-kondisi a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownKondisi {
    width: 33%;
    position: relative;
    display: flex;
}

.dropdown-content-kondisi {
    max-height: 200px; /* Atur maksimum tinggi dropdown */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi maksimum */
}

.dropdownButton {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

#dataForm {
    width: 100%;
    border-radius: 10px;
}

.dropdown a:hover {background-color: #ddd;}

.showKabupaten {display: block;}
.showKecamatan {display: block;}
.showDesa {display: block;}
.showPerkerasan {display: block;}
.showJenis {display: block;}
.showKondisi {display: block;}

#scrollToTopBtn {
    display: none;
    position: absolute;
    width: fit-content;
    bottom: -50px;
    margin-left: 20px; /* Position the element horizontally centered */
    background-color: #6374db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
}

#delete-marker {
    display: none;
    position: absolute;
    width: fit-content;
    bottom: -7px;
    margin-left: 20px; /* Position the element horizontally centered */
    background-color: #6374db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
}

#delete-mark {
    display: none;
    position: absolute;
    width: fit-content;
    bottom: 37px;
    margin-left: 20px; /* Position the element horizontally centered */
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
}

#reverse-back-mark {
    display: none;
    position: absolute;
    width: fit-content;
    bottom: 80px;
    margin-left: 20px; /* Position the element horizontally centered */
    background-color: #35c76d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
}

h3 {
    color: #333;
}
#keterangan-untuk-angka {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 141px -17px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 3px 141px -17px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 3px 141px -17px rgba(0,0,0,0.10);
    padding: 20px;
    margin-bottom: 5px;
}

#keterangan-bahan {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#kiri-bahan, #kanan-bahan {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#kiri-bahan p, #kanan-bahan p {
    margin: 5px 0;
}

#keterangan-angka {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px
}

.angka-container {
    background-color: #e3e3e3;
    border-radius: 8px;
    box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -webkit-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -moz-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    padding: 20px;
    text-align: center;
    width: 30%;
}

.angka-container h3 {
    margin-bottom: 10px;
    color: #fff;
}

.angka-container h1 {
    font-size: 3em;
    color: #fff;
}


#angka-baik {
    background-color: #02b949;
}

#angka-sedang {
    background-color: #f09e17;
}

#angka-rusak {
    background-color: #f60002;
}

/* 
#keterangan-angka {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#angka-baik {
    background-color: #126208;
    padding: 20px;
    color: #fff;
    box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -webkit-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -moz-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    border: none;
    border-radius: 10px;
}

#keterangan-untuk-angka {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 30px;
    width: 100%;
}

#keterangan-bahan {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

#angka-sedang {
    background-color: #f09e17;
    padding: 20px;
    color: #fff;
    box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -webkit-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -moz-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    border: none;
    border-radius: 10px;
}

#angka-rusak {
    background-color: #f60002;
    padding: 20px;
    color: #fff;
    box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -webkit-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -moz-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    border: none;
    border-radius: 10px;
} */

#reverse-mark {
    display: none;
    position: absolute;
    width: fit-content;
    bottom: 125px;
    margin-left: 20px; /* Position the element horizontally centered */
    background-color: #177afb;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
}

#hapus-marker {
    display: none;
    position: absolute;
    width: fit-content;
    left: 50%;
    bottom: -7px;
    margin-left: 20px; /* Position the element horizontally centered */
    background-color: #6374db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

#table-overlay {
    background-color: #ffffff;
    border-radius: 10px;
    display: none;
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px; 
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 500px; /* Set the max height of the table container */
    border: 1px solid #ddd; /* Optional: Add border to container */
}

.checkbox-road-view {
    display: block;
    position: absolute;
    width: fit-content;
    right: 2vw;
    top: 6vw;
    margin-left: 20px; /* Position the element horizontally centered */
    background-color: #fff;
    box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -webkit-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    -moz-box-shadow: 1px 27px 85px -27px rgba(0,0,0,0.07);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
}

#flex-filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.searchButton {
    background-color: lightgray;
    justify-content: center; /* Memusatkan teks secara horizontal */
    align-items: center; /* Memusatkan teks secara vertikal */
    padding: 10px 20px; /* Menambah ruang di dalam tombol */
}

#deleteButton {
    background-color: red;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #6374db;
    color: #ffffff;
    text-align: left;
}

#heading-overlay {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#heading-overlay h2 {
    margin-bottom: 20px;
}

#close-overlay {
    float: right;
    width: 2%;
    height: 2%;
    margin-bottom: 20px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #6374db;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
